<form class="edit-post">

  <label>
    Title
    <input type="text" name="post[title]" value="<%= post.escape('title') %>">
  </label><br>


    Content
    <textarea name="post[body]" rows="4" cols="50"><%= post.escape('body') %>
  </textarea><br>

  <input type="submit" value="Update Post">

</form>