<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><p class='post' data-post='title'><%= post.escape("title") %></p></h3>
      </div>
      <div class="panel-body">
        <p class='post' data-body='body'> <%= post.escape("body") %>
      </div>
    </div>
