
<ul>
  <li><%= comment.body %>
</ul>


<form action="<%= link_comments_url(@link) %>" method="post">
  <%= form_token %>

  <p>
    <label for="comment">Comment</label>
    <input type="text" name="comment[body]" id="comment">
  </p>

  <p><input type="submit" value="Create Comment"></p>
</form>