<h1><%= @link.title %> Show Page</h1>


<h2>Comments</h2>

<ul>
  <% comments_by_parent = @link.comments_by_parent %>
  <% comments_by_parent[nil].each do |top_level_comments| %>
  <li>
    <%= comment_partial(top_level_comments, comments_by_parent) %>
  </li>
  <% end %>
</ul>