<div class="jumbotron">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h1>Be FAST</h1>
      <blockquote>
        <p>Why ride if you're not fast</p>
        <p>Why race if you come last...</p>
        <footer><cite title="Source Title">Sophy Lee</cite></footer>
      </blockquote>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <h3>WCA: What do you enjoy most about the sport?</h3>

      <p><strong>Stefanie:</strong> I love the entire process. Everything. I love
        grinding out training, day in, day out. Getting to the gym and punching
        out a grueling session and wondering how you are going to ride the
        pathetic distance home. The feelings that overcome my body and gets me
        curled up in a ball on the floor after an effort at the track. It feels
        like freezing intestines, burning legs that are about to explode and eyes
        that no longer want to be in my head. I love knowing that I have given
        everything and then reaching down and giving more.
      </p>
    </div>
  </div>
  <!-- <div class="row text-center">
    <img src="http://bit.ly/1kPxoG7" class="img-circle">
    <h4>Stephanie Fernandez</h4>
  </div> -->
</div>
