<div id="sidebar" class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item"><a href="#one">Women Cycling</a></li>
    <li class="list-group-item"><a href="#two">Join SoCal</a></li>
    <li class="list-group-item"><a href="#three">Featured Rider</a></li>
    <li class="list-group-item"><a href="#four">Pro Peloton</a></li>
  </ul>
</div>
<div class="col-md-9" data-spy="scroll" data-target="#sidebar">
  <h4 id="one">Women’s Cycling Association Inaugural Kit on Sale Now</h4>
  <p>
    Winston-Salem, NC – For Release March 11, 2014 – The Women’s Cycling Association (WCA) announced today their inaugural Kit is available for purchase via the WCA website through Midnight March 31, 2014. In January, the WCA held a Kit Design contest for Face Book fans to submit a design for the inaugural kit. Fans then voted on the entries. Lindsay Platoshyn’s unique design was the overwhelming favorite! Lindsay is a freelance designer in the South Bay area and her goal was to design a kit that would, “stand out in the crowd, so that when people saw it, they would ask about the WCA.” The WCA chose Primal Custom to create the final design, kit production, and fulfillment. The kit is available in both women and men specific Helix Elite and Sport Cut styles. See subsequent page for Primal Custom style descriptions.

    The kit features a bold black and white geometric pattern contrasted with the bright vivacious teal, orange and yellow-gold colors of the WCA. The jersey highlights the WCA logo on the front right panel inset within a vertical stripe using WCA colors, on both sleeves, and on the back top panel inset within a WCA three color horizontal stripe. The jersey also features a teal collar with the WCA logo and tagline, “Join The Ride.” The grey and black bib features the WCA logo on the shorts side panel against the black and white geometric design, and on the back short panel.

    The kits are available for purchase via the WCA website through Midnight March 31, 2014. The kits range in price from $300 for the Helix Kit and $220 for the Sport Cut. Orders will be shipped via Primal Custom [...]
  </p>

  <h4 id="two">JoinTheRide Tour in SoCal</h4>

  <p>
    A little rain and fog didn’t stop over 150 cycling enthusiasts from   coming out to support the WCA JoinTheRide Tour at The Pedaler's Fork
  </p>

  <h4 id="three">Featured Rider: Jacqueline McClure</h4>

  <p>
    Twice a month, the Women’s Cycling Association showcases an inspiring rider from the women’s cycling community. This week we’re excited to introduce Jacqueline McClure.

    WCA: What has been your most memorable experience in the sport?

    Jacqueline: My director and team inviting me to race the Parx Casino Philly Cycling Classic. There is no greater honor in my hometown. I had my parents and sister cheering me on at Lemon Hill, friends shouting in East Falls and on the Manayunk Wall, and that really made it feel like everything I worked for came full circle. Being able to line up with the best in the world was incredibly humbling (and yes, I was star struck too). It was one of the hardest races I’ve ever done and look forward to going back for more in 2014!

    Also, I really enjoyed going out to Las Vegas this year to race USA Crit Series Finals at Interbike. A friend convinced me to go out with her and then only after I signed up told me that the race is like Thunderdome from Mad Max…and it was. I had never raced in the dark. Had too much air in my tires. Escaped multiple crashes. And walked away with a top 10 and all my skin intact. That was a pretty big win for me and a blast getting to meet so many amazing people in our industry.
  </p>

  <h4 id="four">Women from the Pro Peloton to lead the WCA “JoinTheRide Tour” in Calabasas, CA</h4>

  <p>
    Calabasas, CA – For Release February 6, 2014 – Cycling enthusiasts will have another opportunity to ride with women from the Pro Peloton when the Women’s Cycling Association (WCA) continues its “JoinTheRide Tour” on Sunday, March 2nd at The Pedaler’s Fork located at 23504 Calabasas Road, Calabasas, CA. The Amgen Tour of California Street Team will also be on hand with prizes and giveaways, as the Amgen Tour of California has just added a second day of women’s cycling competition to the 2014 race. The group ride is open to both women and men, and riders of all levels. A catered lunch is included with the registration fee. Fans can register by clicking here.

    WCA Board President, Robin Farina, as well as WCA board members Alison Tetrick (TWENTY16) and Olivia Dillon (Colavita/Fine Cooking) will lead the ride along with other pro women cyclists including Amber Gaffney (Twenty16) and Tayler Wiles (Specialized-Lululemon). The Ritte Women’s Cycling team will co-host the event with the WCA. Participants will have the opportunity to learn more about the WCA and become a member to support the WCA’s mission to elevate women’s cycling. The ride will include a 27-mile and a 41-mile option as well a short beginner level ride. Participants can register for the ride at: http://womenscyclingassociation.com/jointheride-tour-socal-ride-registration.

    The WCA would like to thank the generous sponsors of the event including: Pedaler’s Fork, Golden Saddle Cyclery, Incycle, Mission Workshop, Ritte Women’s Cycling Team, Giro, Chris King, Osmo Nutrition, and Nick Kova Photography.
  </p>


</div>