<h1>Home of the world's fastest bikes</h1>
<div class="row">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-slide" data-slide-to="1"></li>
      <li data-target="#carousel-slide" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="http://goo.gl/33LNQd" alt="">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="http://goo.gl/Nha0qp" alt="">
        <div class="carousel-caption"></div>
      </div>

      <div class="item">
        <img src="http://goo.gl/Nha0qp" alt="">
        <div class="carousel-caption"></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-4">
  In the brief span of three years, Evelyn (Evie) Stevens has made the improbable leap from the analyst floor at a New York investment firm to the road course of the Summer Olympics in London.  Her well-documented journey to the bike is the result of fierce competitiveness, sheer athleticism, and a serendipitous discovery of natural talent.  Having found her calling, Evie is now focused on winning a UCI World Championship and bringing home Olympic Gold from Rio in 2016.<br>
  <span class="glyphicon glyphicon-road"></span> <%= link_to "Media", "http://evelynstevens.com/category/media/" %>
</div>
<div class="col-xs-4">
  Evie was raised in Acton, MA, the youngest of five kids in the Stevens family.  She excelled at a variety of sports while growing up before playing varsity tennis at Dartmouth College.  While in Hanover, Evie studied government with a minor in women’s and gender studies.<br>
  <span class="glyphicon glyphicon-road"></span> <%= link_to "Schedule &rarr;", "http://evelynstevens.com/schedule/" %>
</div>
<div class="col-xs-4">
  Upon graduating in 2005, Evie moved to Manhattan to begin work with Lehman Brothers in the investment banking program.  She attended her first bike clinic in Central Park in the spring of 2008.  With the financial industry in a state of panic, Evie calmly won her first professional race in Union Vale, NY.  A year later, she said goodbye to New York and embarked upon a career as a professional cyclist.<br>
  <span class="glyphicon glyphicon-road"></span> <%= link_to "Partners &rarr;", "http://evelynstevens.com/category/media/" %>
</div>