<form action="<%= secrets_url %>" method="post" id="post-new-secret">
  <label>
    Title
    <input type="text" name="secret[title]" value="<%= @secret.title %>">
  </label>

  <input type="text" name="tag[name]" id="tag[name]" placeholder="tags">

  <input type="hidden" name="secret[author_id]" value="<%= current_user %>">

  <input type="hidden" name="secret[recipient_id]" value="<%= params[:id] %>">
  <p><input type="submit" value="Post Secret"></p>
</form>