<h1>All Todos</h1>

<button class="refresh">Refresh</button>

<ul>
<% todos.each(function (todo) { %>
  <!-- still using get -->
  <li>
    <a href="#/todos/<%= todo.get('id') %>">
    <%= todo.get('title') %></a>
  </li>
<% }) %>
</ul>

<a href="#/todos/new">New Todo</a><br>

