<h1>Login</h1>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="_method" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email">
  
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password">
  
  <input type="submit" value="Create User">
  
</form>