<h1>Password Reset</h1>
<form action="<%= session_password_reset_url %>" method="post">
  <%= auth_token %>
  <label>
    Email
    <input type="text" id="email" name="email" value="">
  </label>

  <input type="submit" value="Reset me">
</form>