// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.friend-buttons.can-unfriend button.friend {
  display: none;
}

span.friend-buttons.can-friend button.unfriend {
  display: none;
}

