<form action="/api/photos" method="POST" id="photo_form">
  <label>
    Title
    <input type="text" name="photo[title]" id="title">
  </label><br>

  <label>
    URL
    <input type="text" name="photo[url]" id="url">
  </label><br>

  <button>Create</button>
</form>