<h2>
  <%= board.escape('title') %> 
  <button class="col-xs-offset-1 delete-board btn btn-danger btn-xs">Delete Board</button>
</h2>
<hr>

<div class='container'>
  <div class="row" id="add-list">
    <button class="new-list btn btn-primary">New List</button>
  </div>
  <hr>
</div>

<div class="board-lists">

</div>
 
