<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>

<h2>Specialized Amira</h2>

<div class="col-md-12 col-lg-12 col-xs-12 text-center">
  <%= image_tag "http://s7d5.scene7.com/is/image/Specialized/65060?$Hero$", class: "col-md-12 col-lg-12 col-xs-12" %>
</div>

<p>Ridden by the most successful women's cycling team in the world, Specialized-lululemon, the S-Works Amira SL4 is the lightest, stiffest, and fastest women's bike around, featuring an all-new FACT 11r carbon frame with women's-tuned geometry, tapered head tube, and internal cable routing; plus Pro Tour-proven Shimano Dura-Ace components, and our feather-light Roval Rapide CLX40 wheels.</p>



