<html>
  <!-- Form to create a tweet -->
  <form action="/statuses" method="POST">
    <label id="status_title">
      <input type="text" name="status[title]" id="status_title">

      <button>Tweet, baby, tweet!</button>
  </form>
</html>
